
@font-face {
	font-family: "New Rocker";
	src: url("../fonts/NewRocker-Regular.ttf");
}
* {
	box-sizing: border-box;
	background: url("../img/main-background.jpg");
	background-size: cover;
}
div {
	font-family: "New Rocker";
	color: gray;

}
